.header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .brand-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        .brand-logo{
            width: 44px;
            height: 44px;
            object-fit: contain;
            user-select: none;
            -webkit-user-drag: none;

        }
        .brand-title{
            width: 44px;
            height: 44px;
            font-weight: normal;
            font-size: 14px;
            user-select: none;
            cursor: unset;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
    .search-box{
        width: 400px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--gray-200);
        background: var(--white);
        padding: 0px 5px;
        .search-box-input{
            flex: 8;
            height: 100%;
            font-size: 14px;
            padding: 0 20px;
        }
        .search-box-icon{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: var(--gray-300);
            &:hover{
                cursor: pointer;
            }

        }
    }
}